{% set page_title = "Patient form" %}

{% extends "layouts/base.html" %}

{% block body %}
<div class="jumbotron">
    <h2>Hello, {{ user.name }}!</h2>
    <p>How is your patient today?</p>
    <div>
      <span class="bracket">{</span>
        <textarea rows="2">
          mild headache and bladder pressure
        </textarea>
      <span class="bracket">}</span>
    </div>
    <div class="btn-group">
      <a role="button" class="btn btn-lg btn-success">Improving</a>
      <a role="button" class="btn btn-lg btn-warning">Stable</a>
      <a role="button" class="btn btn-lg btn-danger">At risk</a>
    </div>
    <p>
      Rate <b>headache</b>:
      {% for p in range(1,6) -%}
      <input type="radio" name="condition1">{{ p }}
      {%- endfor %}
    </p><p>
      Initial diagnosis
      <select>
        <option></option>
        <option>Acute migraine</option>
        <option>Hayfever</option>
        <option>Drug addiction</option>
      </select>
    </p><p>
      Rate <b>bladder pressure</b>:
      {% for p in range(1,6) -%}
      <input type="radio" name="condition2">{{ p }}
      {%- endfor %}
    </p><p>
      Initial diagnosis
      <select>
        <option></option>
        <option>Inconsistence</option>
        <option>Viral infection</option>
        <option>Too much tea</option>
      </select>
    </p>
</div>
{% endblock %}
