{% extends 'layouts/base.html' %}

{% set page_title = 'Synopses' %}

{% block top %}
{% endblock %}

{% block body %}
<style>
	#banner{
	    background:url("/static/img/vorbild.jpg") no-repeat;
      background-size: cover;
      min-height:800px;

      font-size: 140%;
	}
  .copy h1, .copy p {
    display: inline-block;
    background: white;
  }
</style>

<div id="banner">
	<div class="container">
		<div class="copy">
			<p class="intro">Backend administration</p>
		</div>
	</div>
</div>
{% endblock %}
