{% set page_title = user.name %}

{% extends "layouts/base.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-3" id="sidebar">
      {% if patients -%}
      <section class="well well-sm">
        <h2>My patients</h2>
        <ul class="list-group list-group-flush">
        {% for patient in patients -%}
        <li class="list-group-item">
          <h4>
            <a href="/patient/{{ patient.id }}/profile">
              <i class="fa fa-home fa-lg"></i>
              <span class="icon-label">{{ patient.name }}</span>
            </a>
          </h4>
        </li>
        {%- endfor %}
        </ul>
      </section>
      {%- endif %}
    </div>
    <div class="col-lg-9" id="content">
      <div class="jumbotron">
        <h2>Hello, {{ user.name }}!</h2>
        <p>Select a patient to see their timeline.</p>
      </div>
    </div>
  </div>
</div>
<!--<a role="button" divhref="{{ url_for('frontend.signup')}}" class="btn btn-lg btn-primary"><strong>Sign up »</strong></a>-->
<style>
.btn-group {
  margin-bottom: 2em;
}
.bracket {
  display:inline-block;
  font-size: 60pt;
}
textarea {
  display: inline-block;
  margin-top: 1.6em;
  width: 50%;
  text-align: center;
  padding-top: 2em;
}
.jumbotron {
  text-align: center;
}
</style>
{% endblock %}
