<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ page_title|default(_('Project')) }}{% endblock %}</title>

    <meta name="author" content="">
    <meta name="description" content="">
    <!-- To ensure proper rendering and touch zooming, add the viewport meta tag to your <head>. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="Shortcut Icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">

    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}

    {% block css_style %}
    {% endblock %}

    {% block js_top %}
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
    {% endblock %}
</head>
<body style="padding-top: 20px; padding-bottom: 20px">
    {% include "macros/_ask_user_to_update_ie.html" %}

    {% block topbar %}
    <div class='container'>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('frontend.index') }}">Synopses Backoffice</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <!--<ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href='http://synopses.ch'>About</a></li>
                        <li><a href='{{ url_for('frontend.help') }}'>Help</a></li>
                        <!-<li><a href='/LICENSE'>Terms</a></li>--
                    </ul>-->
                    <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                        {% if current_user.is_admin() %}
                        <li><a href="{{ url_for('admin.index') }}">{{ current_user.name }}</a></li>
                        {% else %}
                        <li><a href="{{ url_for('user.index') }}">{{ current_user.name }}</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('settings.profile') }}">Settings</a></li>
                        <li><a href="{{ url_for('frontend.logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('frontend.signup') }}"><strong>Sign up</strong></a></li>
                        <li><a href="{{ url_for('frontend.login') }}">Sign in</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% endblock %}

    {% block flash_message %}
        <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="container-fluid">
                <div id='flash_message_container'>
                    {% for category, msg in messages %}
                        <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ msg }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endwith %}
        </div>
    {% endblock %}

    {% block container %}
    <div class="container">

        {% block top %}
            {% if tabs %}
            <div>
                <ul class="nav nav-tabs">
                    {% for tab, link in tabs %}
                    <li class="{% if active == tab %}active{% endif %}">
                    <a href="{{ link }}">{{ tab|capitalize }}</a>
                    </li>
                    {% endfor %}
                </ul>
            <div>
            {% endif %}
        {% endblock %}

        {% block body %}
        {% endblock %}

    </div>
    {% endblock %}

    <footer>
    </footer>

    {% block js_btm %}
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    -->
    {% set jquery_path = url_for('static', filename='js/vendor/jquery-1.10.2.min.js') %}
    <script>window.jQuery || document.write('<script src="{{ jquery_path }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}

    {% block ga %}
    <!--#% include "macros/_google_analytics.html" %#-->
    {% endblock %}
</body>
</html>
