{% extends "admin/layout.html" %}

{% block body %}
<div class="container">
    <h2>Welcome to the Backoffice</h2>
    <p>Here we add users, manage patients, and manage operations.</p>
</div>
{% endblock %}
