{% from "macros/_form.html" import render_form %}

{% extends "admin/layout.html" %}

{% block body %}
<div class="container">
    <h2>Edit Patient</h2>
    {{ render_form(url_for('admin.patient', patient_id=patient.id), form) }}
</div>
{% endblock %}
