{% extends "admin/layout.html" %}

{% block body %}
<div class="container">
  <form method="post" action="{{ url_for('admin.patient_import') }}" enctype="multipart/form-data" style="float:right; margin-top:1em">
    <input type="file" name="file" style="display:inline-block">
    <input type="submit" class="btn btn-success" value="Import data">
    <a href="{{ url_for('admin.patient_export') }}" class="btn btn-default">Export data</a>
  </form>
    <h2>Patients</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Assigned users</th>
                <th>Last update</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.name }}</td>
            <td>
              {% for user in patient.get_access_query() %}
                <li>{{ user.name }}</li>
              {% endfor %}
            </td>
            <td>{{ patient.updated_time|format_date }}</td>
            <td>{{ patient.created_time|format_date }}</td>
            <td><a href="{{ url_for('admin.patient', patient_id=patient.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
