{% from "macros/_form.html" import render_form %}

{% extends "admin/layout.html" %}

{% block body %}
<div class="container">
    <h2>New User</h2>
    {{ render_form(url_for('admin.user_new'), form) }}
</div>
{% endblock %}
