{% extends "admin/layout.html" %}

{% block body %}
<div class="container">
    <div style="float:right; margin-top:1em">
      <a href="{{ url_for('admin.user_new') }}" class="btn btn-success">Add user</a>
    </div>
    <h2>Users</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
              <th>Username</th>
              <th>Status</th>
              <th>Created</th>
              <th>Profile</th>
              <th></th>
            </tr>
        </thead>
        {% for user in users %}
        <tr>
            <td>
              <a href="{{ url_for('admin.user', user_id=user.id) }}">
                {{ user.name }}
              </a>
            </td>
            <td>{{ user.status }} - {{ user.role }}</td>
            <td>{{ user.created_time|format_date }}</td>
            <td>{{ user.user_detail.full_name }}</td>
            <td><a class="btn btn-small btn-default"
                  href="{{ url_for('admin.user_details', user_id=user.id) }}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
